services:
  portfolio-backend:
    build: .
    image: portfolio-backend:latest
    container_name: portfolio-backend
    env_file:
      - .env
    ports:
      - '3000:3000'
    restart: unless-stopped

  portfolio-backend-test:
    image: portfolio-backend:latest
    container_name: portfolio-backend-test
    env_file:
      - .env.example
    command: pnpm test
    volumes:
      - ./:/usr/src/app
    depends_on:
      - portfolio-backend
